NodeRed Flow/Node-Red.json
[{"id":"2170b1b4.4aa856","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ac7245c9.48331","type":"debug","z":"2170b1b4.4aa856","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":80,"wires":[]},{"id":"81134d43.c66728","type":"function","z":"2170b1b4.4aa856","name":"getHumidity","func":"var m = [\n    {\n   topic:\"Humidity\", \n   payload:msg.payload.Sensor1.h,\n   timestamp:Number(msg.payload.Sensor1.ts)\n   }\n   ];\n   if((Number(msg.payload.Sensor1.ts)/1000000000000)<3) return [m];\n","outputs":1,"noerr":0,"x":630,"y":280,"wires":[["b9573cf6.768b3","55b840b4.890558"]]},{"id":"15cc320.1961d4e","type":"function","z":"2170b1b4.4aa856","name":"getPressure","func":"var m = [\n    {\n   topic:\"Pressure\", \n   payload:msg.payload.Sensor1.p,\n   timestamp:Number(msg.payload.Sensor1.ts)\n   }\n   ];\n   if((Number(msg.payload.Sensor1.ts)/1000000000000)<3) return [m];\n","outputs":1,"noerr":0,"x":650,"y":420,"wires":[["35c34800.6b1ae","8b6e76ee.98774"]]},{"id":"4b8db8b7.e7ff4","type":"function","z":"2170b1b4.4aa856","name":"getLux","func":"var m = [\n    {\n   topic:\"Light Intensity\", \n   payload:msg.payload.Sensor1.l*100,\n   timestamp:Number(msg.payload.Sensor1.ts)\n   }\n   ];\n   if((Number(msg.payload.Sensor1.ts)/1000000000000)<3) return [m];\n","outputs":1,"noerr":0,"x":620,"y":560,"wires":[["f68d988a.595348","35e32453.ff7d4c"]]},{"id":"d98e863d.56498","type":"function","z":"2170b1b4.4aa856","name":"getECO2","func":"var m = [\n    {\n   topic:\"eCO2\", \n   payload:msg.payload.Sensor1.e,\n   timestamp:Number(msg.payload.Sensor1.ts)\n   }\n   ];\n   if((Number(msg.payload.Sensor1.ts)/1000000000000)<3) return [m];\n","outputs":1,"noerr":0,"x":620,"y":700,"wires":[["c3e95290.a2c188","d7f82ec6.8fa7d","2aca8b09.7c0bd4","9666e013.086298"]]},{"id":"22cbec61.dbb924","type":"function","z":"2170b1b4.4aa856","name":"getTVOC","func":"var m = [\n    {\n    topic:\"TVOC\", \n   payload:msg.payload.Sensor1.T,\n   timestamp:Number(msg.payload.Sensor1.ts)\n   }\n   ];\n   if((Number(msg.payload.Sensor1.ts)/1000000000000)<3) return [m];\n","outputs":1,"noerr":0,"x":620,"y":900,"wires":[["29bdb6b.be4824a","d7f82ec6.8fa7d","2676995c.ba3b7e","9666e013.086298"]]},{"id":"2d7d894c.f6717e","type":"ui_chart","z":"2170b1b4.4aa856","name":"","group":"f4b2bef2.864c38","order":1,"width":"0","height":"0","label":"Temperature","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"15","ymax":"35","removeOlder":"6","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":180,"wires":[[]]},{"id":"b9573cf6.768b3","type":"ui_chart","z":"2170b1b4.4aa856","name":"","group":"f4b2bef2.864c38","order":2,"width":"0","height":"0","label":"Humidity","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":320,"wires":[[]]},{"id":"35c34800.6b1ae","type":"ui_chart","z":"2170b1b4.4aa856","name":"","group":"f2bc57fd.e8b99","order":2,"width":0,"height":0,"label":"Pressure","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"1050","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":460,"wires":[[]]},{"id":"f68d988a.595348","type":"ui_chart","z":"2170b1b4.4aa856","name":"","group":"f2bc57fd.e8b99","order":1,"width":0,"height":0,"label":"Lux","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":600,"wires":[[]]},{"id":"c3e95290.a2c188","type":"ui_chart","z":"2170b1b4.4aa856","name":"","group":"43ba1401.a268c4","order":1,"width":"0","height":"0","label":"eCO2","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":740,"wires":[[]]},{"id":"29bdb6b.be4824a","type":"ui_chart","z":"2170b1b4.4aa856","name":"","group":"43ba1401.a268c4","order":2,"width":"0","height":"0","label":"tVOC","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":960,"wires":[[]]},{"id":"e2a892c9.db10a","type":"cloudant out","z":"2170b1b4.4aa856","name":"","cloudant":"","database":"iotdata","service":"node-red-gsmbr-cloudant-1589822758644-87544","payonly":false,"operation":"insert","x":380,"y":800,"wires":[]},{"id":"96916e91.21a9a","type":"function","z":"2170b1b4.4aa856","name":"getTemperature","func":"\nvar m = [\n    {\n    topic:\"Temperature\", \n   payload:msg.payload.Sensor1.t,\n   timestamp:Number(msg.payload.Sensor1.ts)\n   }\n   ];\n   if((Number(msg.payload.Sensor1.ts)/1000000000000)<3) return [m];\n\n","outputs":1,"noerr":0,"x":630,"y":140,"wires":[["2d7d894c.f6717e","d4c0923b.b4126"]]},{"id":"d7f82ec6.8fa7d","type":"ui_chart","z":"2170b1b4.4aa856","name":"","group":"43ba1401.a268c4","order":3,"width":"0","height":"0","label":"AirQuality","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1030,"y":840,"wires":[[]]},{"id":"bf58178d.41bcc","type":"function","z":"2170b1b4.4aa856","name":"FormatTimestamp","func":"msg.timestamp = Number(msg.payload.Sensor1.ts);\n\nmsg.payload.Sensor1.l *=100;\n\nif((Number(msg.payload.Sensor1.ts)/1000000000000)<3) return msg;\n\n\n","outputs":1,"noerr":0,"x":150,"y":800,"wires":[["2fa34a38.bb1296","e2a892c9.db10a"]]},{"id":"2fa34a38.bb1296","type":"debug","z":"2170b1b4.4aa856","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":360,"y":900,"wires":[]},{"id":"fd6c247c.159ec","type":"ibmiot in","z":"2170b1b4.4aa856","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":200,"y":460,"wires":[["ac7245c9.48331","81134d43.c66728","15cc320.1961d4e","4b8db8b7.e7ff4","22cbec61.dbb924","d98e863d.56498","96916e91.21a9a","bf58178d.41bcc"]]},{"id":"2aca8b09.7c0bd4","type":"ui_chart","z":"2170b1b4.4aa856","name":"","group":"8b655ac9.88215","order":1,"width":"0","height":"0","label":"24h_eCO2","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":850,"y":680,"wires":[[]]},{"id":"2676995c.ba3b7e","type":"ui_chart","z":"2170b1b4.4aa856","name":"","group":"8b655ac9.88215","order":1,"width":"0","height":"0","label":"24h_tVOC","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":850,"y":900,"wires":[[]]},{"id":"d4c0923b.b4126","type":"ui_chart","z":"2170b1b4.4aa856","name":"","group":"5edf86d3.ec84e","order":1,"width":"0","height":"0","label":"24h_Temperature","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"15","ymax":"35","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":870,"y":120,"wires":[[]]},{"id":"55b840b4.890558","type":"ui_chart","z":"2170b1b4.4aa856","name":"","group":"5edf86d3.ec84e","order":1,"width":"0","height":"0","label":"24h_Humidity","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":260,"wires":[[]]},{"id":"9666e013.086298","type":"ui_chart","z":"2170b1b4.4aa856","name":"","group":"8b655ac9.88215","order":1,"width":"0","height":"0","label":"24h_AirQuality","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1040,"y":780,"wires":[[]]},{"id":"8b6e76ee.98774","type":"ui_chart","z":"2170b1b4.4aa856","name":"","group":"5fad9980.1112","order":1,"width":"0","height":"0","label":"24h_Pressure","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"1050","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":400,"wires":[[]]},{"id":"35e32453.ff7d4c","type":"ui_chart","z":"2170b1b4.4aa856","name":"","group":"5fad9980.1112","order":1,"width":"0","height":"0","label":"24h_Lux","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":540,"wires":[[]]},{"id":"30c71c8a.1bc2a4","type":"cloudant in","z":"2170b1b4.4aa856","name":"","cloudant":"a1120f96.77e58","database":"iotdata","service":"node-red-gsmbr-cloudant-1589822758644-87544","search":"_all_","design":"Sort","index":"By_Date","x":600,"y":1060,"wires":[["f1fccc5b.8587c"]]},{"id":"b1cdbba2.309008","type":"debug","z":"2170b1b4.4aa856","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":980,"y":1060,"wires":[]},{"id":"6b221187.d09b68","type":"inject","z":"2170b1b4.4aa856","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":1060,"wires":[["30c71c8a.1bc2a4"]]},{"id":"f1fccc5b.8587c","type":"function","z":"2170b1b4.4aa856","name":"","func":"var obj = JSON.stringify(msg);\n// console.log(obj);\nobj = obj.indexOf(100);\nobj =obj.toString();\nobj =obj.split();\nJSON.stringify(obj)\nreturn obj;","outputs":1,"noerr":0,"x":770,"y":1120,"wires":[["b1cdbba2.309008"]]},{"id":"f4b2bef2.864c38","type":"ui_group","z":"2170b1b4.4aa856","name":"Column1","tab":"75e3f5c3.33fbe4","order":1,"disp":false,"width":"7","collapse":false},{"id":"f2bc57fd.e8b99","type":"ui_group","z":"2170b1b4.4aa856","name":"Light&Pressure","tab":"87a36b1c.e95e8","order":1,"disp":false,"width":"7","collapse":false},{"id":"43ba1401.a268c4","type":"ui_group","z":"2170b1b4.4aa856","name":"Air","tab":"397ab849.537ec","order":1,"disp":false,"width":"7","collapse":false},{"id":"8b655ac9.88215","type":"ui_group","z":"2170b1b4.4aa856","name":"Group 1","tab":"163eb18f.d3518e","order":1,"disp":false,"width":"27","collapse":false},{"id":"5edf86d3.ec84e","type":"ui_group","z":"2170b1b4.4aa856","name":"Default","tab":"3e32d06a.56e56","order":1,"disp":false,"width":"27","collapse":false},{"id":"5fad9980.1112","type":"ui_group","z":"2170b1b4.4aa856","name":"Default","tab":"790d73f8.ea803c","order":1,"disp":false,"width":"27","collapse":false},{"id":"a1120f96.77e58","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"75e3f5c3.33fbe4","type":"ui_tab","z":"2170b1b4.4aa856","name":"Basic","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"87a36b1c.e95e8","type":"ui_tab","z":"2170b1b4.4aa856","name":"Light&Pressure","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"397ab849.537ec","type":"ui_tab","z":"2170b1b4.4aa856","name":"AirQuality","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"163eb18f.d3518e","type":"ui_tab","z":"2170b1b4.4aa856","name":"24h_AirQuality","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"3e32d06a.56e56","type":"ui_tab","z":"2170b1b4.4aa856","name":"24h_Basic","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"790d73f8.ea803c","type":"ui_tab","z":"2170b1b4.4aa856","name":"24h_Light&Pressure","icon":"dashboard","order":6,"disabled":false,"hidden":false}]